








        .contenitore-centrato {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
        }


        .immagine-grande {
            margin-right: 20px;
        }

        .immagine-grande img {
            max-width: 100%;
            height: auto;
            border: 2px solid #ddd;
            border-radius: 8px;
            margin-bottom: 20px;
        }


        .informazioni {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            flex-grow: 1;
        }


        .informazioni h2 {
            color: #000;
            font-weight: bold;
        }


        .informazioni p {
            margin: 10px 0;
            color: #555;
        }


        .informazioni p.price {
            color: #800080;
        }


        .venditore-container {
            display: none;
            margin-top: 20px;
        }


        .chat-box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin-top: 10px;
        }


